/* LAUDUS Core Styles */
.laudusFieldCaption {color: #136ba2;font-weight: bold;font-family: arial;}
.laudusFieldValue {color: #000000;font-weight: normal;font-family: arial;}
.laudusColoredCaption {color: #405ea3;}
.laudusPanelConfigLaudus {height: 210px;}
.laudusPanelTitle {font-family: "Open Sans",Helvetica,Arial,sans-serif;width: 100%; text-align: center;}